# BasedOnStyle: Microsoft
Language: Cpp
Standard: Latest

# Alignment ----------------------------------------------------
AlignAfterOpenBracket: AlwaysBreak
AlignArrayOfStructures: None
AlignConsecutiveAssignments: false
AlignConsecutiveBitFields: false
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: false
AlignConsecutiveShortCaseStatements:
  Enabled: false
AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 1
DerivePointerAlignment: false
PointerAlignment: Left
QualifierAlignment: Left
ReferenceAlignment: Left

# Short statements ---------------------------------------------
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortEnumsOnASingleLine: false
AllowShortCompoundRequirementOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never

# Width --------------------------------------------------------
AccessModifierOffset: -4
BracedInitializerIndentWidth: 4
ColumnLimit: 120
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
IndentWidth: 4
PPIndentWidth: -1
TabWidth: 4

# Wrapping -----------------------------------------------------
AllowAllArgumentsOnNextLine: false
# AllowAllConstructorInitializersOnNextLine: # deprecated
AllowAllParametersOfDeclarationOnNextLine: false
AllowBreakBeforeNoexceptSpecifier: OnlyWithParen
# ------------------------------
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: Yes
# ------------------------------
BreakAdjacentStringLiterals: false
BreakAfterAttributes: Always
BreakArrays: false
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Allman
# BraceWrapping:
BreakBeforeConceptDeclarations: Always
BreakBeforeInlineASMColon: OnlyMultiline
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeColon
# BreakConstructorInitializersBeforeComma: # deprecated
BreakInheritanceList: BeforeColon
# BreakBeforeInheritanceComma: # deprecated
BreakStringLiterals: false
# ConstructorInitializerAllOnOneLineOrOnePerLine: # deprecated
VerilogBreakBetweenInstancePorts: false

# Indentation --------------------------------------------------
IndentWrappedFunctionNames: false
IndentRequiresClause: false
IndentPPDirectives: BeforeHash
IndentGotoLabels: false
IndentExternBlock: NoIndent
IndentCaseLabels: true
IndentCaseBlocks: false
IndentAccessModifiers: false
IncludeBlocks: Preserve
LambdaBodyIndentation: Signature
NamespaceIndentation: None
RequiresExpressionIndentation: OuterScope

# Lines --------------------------------------------------------
# DeriveLineEnding: # deprecated
EmptyLineBeforeAccessModifier: LogicalBlock
EmptyLineAfterAccessModifier: Never
InsertNewlineAtEOF: true
KeepEmptyLinesAtTheStartOfBlocks: false
KeepEmptyLinesAtEOF: true
MaxEmptyLinesToKeep: 1
ShortNamespaceLines: 0

# Spacing ------------------------------------------------------
BitFieldColonSpacing: After
Cpp11BracedListStyle: true

SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: true
SpaceAroundPointerQualifiers: Default
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatementsExceptControlMacros
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterForeachMacros: false
  AfterFunctionDeclarationName: false
  AfterFunctionDefinitionName: false
  AfterIfMacros: false
  AfterOverloadedOperator: false
  BeforeNonEmptyParentheses: false
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpacesBeforeTrailingComments: 1
SpacesInAngles: Never
# SpacesInConditionalStatement: # deprecated
# SpacesInCStyleCastParentheses: # deprecated
SpacesInContainerLiterals: false
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: 1
SpacesInParens: Never
SpacesInParensOptions:
  InConditionalStatements: false
  InCStyleCasts: false
  InEmptyParentheses: false
  Other: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

# Other --------------------------------------------------------
BinPackParameters: false
BinPackArguments: false
CompactNamespaces: false
DisableFormat: false
# ExperimentalAutoDetectBinPacking: # experimental
FixNamespaceComments: true
# IntegerLiteralSeparator:
InsertTrailingCommas: Wrapped
InsertBraces: true
PackConstructorInitializers: CurrentLine
ReflowComments: false
RemoveSemicolon: true
RemoveParentheses: Leave
RequiresClausePosition: OwnLine
SeparateDefinitionBlocks: Always
SortIncludes: CaseSensitive
SortUsingDeclarations: Lexicographic

# Regex --------------------------------------------------------
# CommentPragmas:
# IncludeIsMainSourceRegex:
# IncludeIsMainRegex:
# MacroBlockBegin:
# MacroBlockEnd:

# Macros -------------------------------------------------------
# AttributeMacros:
# ForEachMacros:
# IfMacros:
# IncludeCategories:
# Macros:
# NamespaceMacros:
# QualifierOrder:
# RawStringFormats:
# StatementAttributeLikeMacros:
# StatementMacros:
# TypenameMacros:
# TypeNames:
# WhitespaceSensitiveMacros:

# Penalty ------------------------------------------------------
# PenaltyBreakAssignment:
# PenaltyBreakBeforeFirstCallParameter:
# PenaltyBreakComment:
# PenaltyBreakFirstLessLess:
# PenaltyBreakOpenParenthesis:
# PenaltyBreakString:
# PenaltyBreakTemplateDeclaration:
# PenaltyExcessCharacter:
# PenaltyIndentedWhitespace:
# PenaltyReturnTypeOnItsOwnLine:

# Additional
LineEnding: LF
UseTab: Never
UseCRLF: false
